@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body, input, textarea, select, button, table, form{
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}
ol, ul, li{
  list-style: none;
}
a{
  text-decoration: none;
}
.blind{
  position: absolute;
  width:1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header_wrap{
  z-index: 10;
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 44px;
  background-color: rgba(64,64,64,0.75);
}
.logo_link{
  display: block;
  margin:10px 20%;
}
.header_wrap img{
  width: 106px;
  height: 22px;
}
.invite_wrap{
  position: relative;
  height: 750px;
  background-color: #fff;
  background: url('../image/section_invite.jpg') no-repeat;
  background-position: center;
}
.creator_wrap{
  position: relative;
  min-width: 1920px;
  height: 822px;
  background-color: #f9939d;
  background-position: center;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
}
.creator_wrap img{
  position: absolute;
  display: block;
  width: 980px;
  height: 822px;
  margin: 0 auto;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
}
.store_wrap{
  position: relative;
  height: 1084px;
  background-color: #d5e43f;
}
.store_wrap .back img{
  position: absolute;
  display: block;
  width:1920px;
  height: 1084px;
  margin: 0 auto;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
}
.fruits{
  position: absolute;
  width: 980px;
  margin: 0 auto;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  padding-top: 300px;
}
.fruits::after{
  display: block;
  clear: both;
  content: '';
}
.fruits li{
  float:left;
  width: 230px;
  height: 230px;
  margin-bottom: 140px;
}
.fruits li + li{
  margin-left:20px;
}
.fruits li:nth-child(4n+1){
  margin-left:0;
}
.fruits .img_wrap{
  display: block;
  width:230px;
  height:230px;
}
.img_wrap img{
  border-radius: 10px;
  width: 230px;
  height: 230px;
}
.sale{
  position: absolute;
  font-size: 65px;
  color:#fff;
  top:50%;
  left:50%;
  margin:-55px 0 0 -70px;
}
.time{
  position: absolute;
  font-size: 20px;
  color:#fff;
  top:50%;
  left:50%;
  margin: 20px 0 0 -64px;
}
.dimmed{
  background-color: rgba(96,132,2,0.9);
  display: none;
  width:230px;
  height: 230px;
  border-radius: 10px;
  position: absolute;
  bottom: 740px;
  margin-bottom: -230px;
}
.dimmed_secondline{
  background-color: rgba(96,132,2,0.9);
  display: none;
  width:230px;
  height: 230px;
  border-radius: 10px;
  position: absolute;
  bottom: 370px;
  margin-bottom: -230px;
}
.img_wrap:hover .dimmed{
  display: block;
}
.img_wrap:focus .dimmed{
  display: block;
}
.img_wrap:hover .dimmed_secondline{
  display: block;
}
.img_wrap:focus .dimmed_secondline{
  display: block;
}
.fruits .info{
  width:210px;
  margin: 0 auto;
}
.fruit_title{
  display: block;
  font-size: 20px;
  color:#1b1d21;
  text-align: center;
  padding-top:20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fruit_price{
  font-size:28px;
  color: #1b1d21;
  font-weight: bold;
  text-align: center;
}
.fruit_price span{
  font-size:20px;
  color: #1b1d21;
}
.recipe_wrap{
  position: relative;
  min-width: 1920px;
  height: 1030px;
  background-color: #b893f9;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
}
.pattern{
  display: block;
  position: absolute;
  width: 1920px;
  height: 185px;
  background-image: url('../image/pattern_recipe.png');
  background-repeat: repeat-x;
  bottom:400px;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
}
.section_recipe_wrap{
  position: relative;
  width: 980px;
  height: 1030px;
  margin: 0 auto;
}
.section_recipe_wrap .recipe_main_img{
  display: block;
  width: 980px;
  height: 681px;
  margin: 0 auto;
  padding:100px 0 60px;
}
.cake_link{
  position: absolute;
  width: 480px;
  height: 482px;
  bottom: 249px;
  left: 0px;
}
.tart_link{
  position: absolute;
  width: 480px;
  height: 482px;
  bottom: 249px;
  left: 500px;
}
.recipe_bt{
  display: block;
  width: 310px;
  height: 91px;
  margin: 0 auto;
}
.recipe_link{
  position: absolute;
  width: 310px;
  height: 91px;
  bottom: 98px;
  left: 335px;
}
.recipe_link:hover,.recipe_link:focus{
  background: url('../image/go_recipe_over.gif') no-repeat;
}
.faq_wrap{
  height: auto;
  margin:0 auto;
  background-color: #fff;
}
.faq_contents_wrap{
  width:1000px;
  margin:100px auto 100px;
}
.faq_title{
  display: block;
  width: 98px;
  height: 50px;
  margin: 0 auto 30px;
}
.faq_contents_shape{
  border-top: 1px solid #a1a5ad;
  border-bottom: 1px solid #a1a5ad;
  margin-top:-1px;
}
.faq_contents_shape::after{
  display: block;
  clear: both;
  content: '';
}
.question_title{
  position: relative;
}
.question_title.active + .answer_wrap{
  display: block;
}
.question_title.active > .down_bt{
  background: url('../image/icon_arrow_up.gif') no-repeat center center;
}
.question_title.active > .open{
  display: none;
}
.question_title.active > .open:after{
  content: '닫힘';
}
.down_bt{
  position: absolute;
  display: block;
  right:0;
  width: 90px;
  height: 100%;
  padding: 20px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  background: url('../image/icon_arrow_down.gif') no-repeat center center;
}
.down_bt img{
  width: 23px;
  height: 12px;
}
.question_img,
.answer_img{
  float: left;
  width: 21px;
  height: 20px;
  padding: 32px 0 32px 25px;
}
.question{
  line-height: 28px;
  font-size: 20px;
  color:#1b1d21;
  margin-left: 40px;
  padding: 30px 90px 30px 25px;
}
.answer_wrap{
  display: none;
}
.answer_wrap{
  background-color: #f7f8fa;
}
.answer_wrap::after{
  display: block;
  clear: both;
  content:'';
}
.answer{
  font-size: 16px;
  color:#60656e;
  line-height: 28px;
  margin-left: 40px;
  padding: 32px 25px;
}
.return_top{
  display: block;
  position: fixed;
  right:0;
  bottom:180px;
}
.go_top{
  width: 100px;
  height: 100px;
}
.footer_wrap{
  position: relative;
  min-width: 1920px;
  height: 80px;
  background-color: #e0e4eb;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
}
.copyright{
  font-size: 18px;
  color:#70757d;
  text-align: center;
  line-height: 80px;
}
